@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.recipe-container {
    padding: 20px;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.foodImg {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.foodImg p {
    font-family: 'GowunDodum-Regular', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}

.recipe-image img,
.recipe-image video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    margin-top: 20px;
}

.icon-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-right {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
    gap: 5px; /* 공유 아이콘과 북마크 아이콘 사이 간격 */
    width: 100%;
}

.rating {
    font-size: 20px;
    font-weight: bold;
}

.share img,
.bookmark img {
    width: 25px;
    height: auto;
    cursor: pointer;
}

/* 부족한 재료 가지러 가기 */
.material-link {
    position: absolute;
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    text-align: right;
    right: 15px;
    top : 25px;
}

/* Accordion */
.details {
    font-family: 'GowunDodum-Regular', serif;
    font-style: normal;
    position: relative;
    margin-top : 50px;
    width: 97%;
}

.detail-tap1 p,
.detail-tap2 p {
    font-family: 'GowunDodum-Regular', serif;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 5px;
}

.detail-tap2 p {
    margin-top: 30px;
}

.detail-tap1 {
    margin-bottom: 2px;
}

.details .toggle-button,
.details .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.details .content {
    background: #F5F5F5;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
}

.details .content.active {
    max-height: 1000px; /* 컨텐츠에 따라 조정 */
    opacity: 1;
}
.toggle-button {
    margin-bottom: 3px;
}

.toggle-icon {
    transition: transform 0.3s ease-out;
}

.toggle-icon.active {
    transform: rotate(180deg);
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
}

.btn img {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.content {
    padding: 10px;
    margin-bottom: 30px;
}

.content p {
    font-size: 15px;
}

.link {
    position: absolute;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


/*footer*/
.footer-content {
    padding: 20px;
    font-family: 'GowunDodum-Regular';
    display: block;
}

.footer-recipe-section {
    max-width: 800px;
    margin: 0 auto;
}

.footer-recipe-section h2 {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'GowunDodum-Regular';
    font-size: 25px;
    color: #385F41;
}

.footer-recipe-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-recipe-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 170px;
}

.footer-recipe-item img,
.footer-recipe-item video {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    margin-right: 20px;
}

.footer-recipe-details {
    flex-grow: 1;
}

.footer-recipe-details h3 {
    font-size: 1.2em;
    margin: 0 0 5px 0;
}

.footer-recipe-details p {
    margin: 5px 0;
    color: #666;
}

.footer-bookmark img {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.footer-ingredient-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-ingredient-tag {
    background-color: #ebebeb;
    color: #000000;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    display: inline-block;
    white-space: nowrap;
}

.footer-recipe-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.footer-recipe-meta p {
    margin: 0;
}

.footer-rating {
    font-weight: bold;
    margin-top: auto;
}

.footer-sort-options {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footer-sort-option {
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #B0B0B0;
}

.footer-sort-option.active {
    font-size: 16px;
    color: #000000;
}

.footer-recipe-header {
    display: flex;
    justify-content: space-between;
}

/* footer*/
.footer {
    background-color: #f2f2f2;
    height: 180px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.footer-content {
    text-align: left;
    font-family: 'GowunDodum-Regular';
}

.footer-links {
    text-align: right;
    font-family: 'GowunDodum-Regular';
}

.footer a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.difficulty-percentage {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.difficulty-bar {
    display: flex;
    align-items: center;
}

.difficulty-bar label {
    display: flex;
    align-items: center;
    font-family: 'GowunDodum-Regular', serif;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;  /* 아이콘과 퍼센티지 사이 간격 추가 */
}

.difficulty-bar img {
    width: 25px;
    height: 25px;

}

.difficulty-slider {
    display: flex;
    align-items: center;
    gap: 5px;  /* 쉬워요/어려워요 라벨과 슬라이더 바 사이에 간격 */
}

.label {
    margin: 0 10px 0 0;
    font-size: 16px;
    white-space: nowrap;
}

/* 슬라이더 막대의 기본 회색 스타일 */
.slider-bar {
    position: relative;
    width: 300px;
    height: 15px;
    background: #D9D9D9; /* 기본 회색 */
    border-radius: 10px;
    transition: background 0.3s ease;
}

/*!* 슬라이더 동그라미 스타일 *!*/
/*.slider-circle {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: #000;*/
/*    border-radius: 50%;*/
/*    transition: left 0.3s ease;*/
/*}*/

.easy-label {
    color: green;
}

.hard-label {
    color: red;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 50px;
}

.slider-container p {
    margin: 0;
}

.slider-container input[type="range"] {
    width: 70%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: #ddd;
    border-radius: 5px;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}

#sliderValue {
    font-size: 18px;
    margin-top: 20px;
}

/* 반응형: 창 크기가 600px 이하일 때 레이아웃 수정 */
@media (max-width: 600px) {
    /* .icon-container를 세로로 배치 */
    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    /* 첫 번째 줄: 공유 및 북마크 아이콘을 가로로 배치 */
    .icon-right {
        order: -1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    /* 두 번째 줄: 쉬워요/어려워요 퍼센티지와 난이도 평가하기 버튼을 가로로 나란히 배치 */
    .difficulty-bar {
        display: flex; /* 가로 정렬 */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    /* 세 번째 줄인 슬라이더 바는 숨기기 */
    .difficulty-slider {
        display: none; /* 창이 줄어들 때 슬라이더 바 숨기기 */
    }
}



/* '난이도 평가하기' 버튼 스타일 */
#openModalBtn {
    background-color: white;
    font-family: 'GowunDodum-Regular', sans-serif;
    border: 2px solid gray; /* 초록색 선 */
    color: black; /* 검정 글씨 */
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    margin : 0 20px;
}

#openModalBtn:hover {
    background-color: #f0f0f0; /* 마우스 호버 시 살짝 회색 배경 */
    border-color: #385F41;
}

/* Modal 안의 '감사합니다.' 버튼 스타일 */
#submitBtn {
    background-color: white;
    border: 2px solid green; /* 초록색 선 */
    color: black; /* 검정 글씨 */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitBtn:hover {
    background-color: #f0f0f0; /* 마우스 호버 시 살짝 회색 배경 */
}
