@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GowunDodum-Regular';
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

main {
    padding: 20px;
    font-family: 'GowunDodum-Regular';
}

.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top : 10px;
}

.filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #385F41;
    border-radius: 40px;
    padding-right: 140px;
    padding-top : 15px;
    padding-bottom: 15px;
    padding-left : 10px;
}

.filter-bar label {
    margin: 0 10px;
    font-weight: bolder;
    color: #385F41;
}

.filter-item {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
}

.recipe-section {
    max-width: 1100px;
    margin: 0 auto;
}

.recipe-section h2 {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'GowunDodum-Regular';
    font-size: 35px;
    color: #385F41;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-item {
    display: flex;
    align-items: center; /* 아이템들을 수직 중앙 정렬 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative; /* 자식 요소의 절대 위치 설정을 위해 */
    margin-bottom: 20px; /* 항목 간격 추가 */
}

/* 이미지 파일에 대한 스타일 */
.recipe-item img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    margin-right: 20px;
}

/* 동영상 파일에 대한 스타일 */
.recipe-item video {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    margin-right: 20px;
}

.recipe-details {
    flex-grow: 1; /* 남은 공간을 모두 차지 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 콘텐츠를 수직 중앙에 배치 */
    margin-left: 20px; /* 이미지와 텍스트 사이의 간격 */
}

.recipe-details h3 {
    font-size: 1.2em;
    margin: 0 0 0 0;
    width: 300px;
}

.recipe-details p {
    margin: 5px 0;
    color: #666;
}

.bookmark img {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.ingredient-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-right: 0;
    margin-top: 20px;
}

.ingredient-tag {
    background-color: #ebebeb;
    color: #000000;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 0.9em;
    display: inline-block;
    white-space: nowrap;
}

.recipe-meta {
    position: absolute; /* 절대 위치 설정 */
    top: 10px; /* 상단 여백 */
    right: 10px; /* 오른쪽 여백 */
    display: flex;
    flex-direction: column; /* 세로로 나열 */
    align-items: flex-end; /* 오른쪽 정렬 */
}

.recipe-meta p {
    margin: 0;
    /*padding-right : 10px;*/
}


.recipe-meta .rating {
    font-weight: bold;
}

.sort-options {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.sort-option {
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #B0B0B0;
}

.sort-option.active {
    font-size: 16px;
    color: #000000;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
}
.bookmark img {
    margin : 0 auto;
}