<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인기 레시피</title>
    <link rel="stylesheet" th:href="@{/css/Top_ui.css}">
    <link rel="stylesheet" th:href="@{/css/popular.css}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo" id="logo">
                <a href="/main" class="no-underline">
                    <p>밥 묵자</p>
                </a>
                <img th:src="@{/images/rice_bowl.png}" alt="밥 묵자 로고">
            </div>
            <nav>
                <ul class="menu">
                    <li class="selected"><a th:href="@{/main}">레시피</a></li>
                    <li><a th:href="@{/store}">스토어</a></li>
                    <li><a th:href="@{/Today}">오늘 뭐 먹지?</a></li>
                </ul>
            </nav>
        </div>
        <hr class="divider">
        <div id="dropdown-content" class="dropdown-content">
            <p id="user-email">bab@naver.com</p>
            <hr>
            <a href="#" class="edit-info">정보 수정</a>
            <div class="dropdown-buttons">
                <div class="combined-buttons">
                    <a th:href="@{/bookmark}" class="bookmark-btn"><img th:src="@{/images/bookmark_n.png}" alt="책갈피 아이콘"> 책갈피</a>
                    <a th:href="@{/logout}" class="logout-btn"><img th:src="@{/images/Logout.png}" alt="로그아웃 아이콘"> 로그아웃</a>
                </div>
            </div>
        </div>
    </header>

    <!-- <div class="popular">
        <div class="pop_list">
            <div class="title">
                <h2>인기 레시피</h2>
            </div>

            <div class="week-month">
                <button class="btn-select">이번주</button>
                <ul class="list">
                    <li><button type="button">이번주</button></li>
                    <li><button type="button">이번달</button></li>
                </ul>
            </div>
        </div>
    </div> -->

    <!-- <div class="all">
        <div class="product_list">
            <div class="recipe">
                <img src="/images/food28.png" alt="감자명란볶음">
                <div class="recipe-title">감자명란볶음</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">감자</p>
                    <p class="ingredient-tag">명란젓</p>
                    <p class="ingredient-tag">마늘</p>
                    <p class="ingredient-tag">참기름</p>
                </div>
            </div>
            <div class="recipe">
                <img src="/images/food26.png" alt="물회">
                <div class="recipe-title">물회</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">광어</p>
                    <p class="ingredient-tag">전복</p>
                    <p class="ingredient-tag">오징어</p>
                    <p class="ingredient-tag">고추장</p>
                </div>
            </div>
            <div class="recipe">
                <img src="/images/food24.png" alt="매콤새콤 쫄면">
                <div class="recipe-title">매콤새콤 쫄면</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">계란</p>
                    <p class="ingredient-tag">오이</p>
                    <p class="ingredient-tag">쫄면</p>
                    <p class="ingredient-tag">참깨</p>
                </div>
            </div>
            <div class="recipe">
                <img src="/images/food89.png" alt="양지수육전골">
                <div class="recipe-title">양지수육전골</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">소고기양지</p>
                    <p class="ingredient-tag">팽이버섯</p>
                    <p class="ingredient-tag">부추</p>
                    <p class="ingredient-tag">대파</p>
                    <p class="ingredient-tag">양파</p>
                </div>
            </div>
            <div class="recipe">
                <img src="/images/food86.png" alt="고깃집 된장찌개">
                <div class="recipe-title">고깃집 된장찌개</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">광어</p>
                    <p class="ingredient-tag">전복</p>
                    <p class="ingredient-tag">오징어</p>
                </div>
            </div>
            <div class="recipe">
                <img src="/images/food87.png" alt="허니포테이토 그라탕">
                <div class="recipe-title">허니포테이토 그라탕</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">감자</p>
                    <p class="ingredient-tag">슈레드 모차렐라 치즈</p>
                    <p class="ingredient-tag">버터</p>
                    <p class="ingredient-tag">파마산치즈</p>
                </div>
            </div>
            <div class="recipe">
                <img src="/images/food88.png" alt="단호박설기">
                <div class="recipe-title">단호박설기</div>
                <div class="ingredient-tags">
                    <p class="ingredient-tag">단호박</p>
                    <p class="ingredient-tag">멥쌀가루</p>
                    <p class="ingredient-tag">설탕</p>
                    <p class="ingredient-tag">물</p>
                </div>
            </div>
        </div>
    </div> -->
        
    <div class="banner">
        <img src="images/banner4.png" alt="">
    </div>
        


    <script th:src="@{/js/popular.js}"></script>
    <script th:src="@{/js/Top_ui.js}"></script>
</body>
</html>